body{
  background-color:#FBE4E4;
  padding: 150px;
}
table{
  align-items: center;
  padding: 30px;
  border-collapse: collapse;
  text-align: center;
  border-spacing: 5px;
  margin: auto;
  
}
td{
  align-items: center;
 
}